{% extends 'base_layout.html' %}
{% block title %} Articles List {% endblock %}
{% block content %}
<div>
    <h1>Articles List</h1>
    <div class="articles">
        {% for article in articles %}
        <div class="article"> 
            <h1>
                <a href="{% url 'articles:detail' article.slug %}">{{article.title}}</a>
            </h1>
            <p>{{article.snippet}}</p>
            <p>{{article.date}}</p>
            <p class="author">Added by : {{article.author}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}