{% extends 'base_layout.html' %}
{% block title %} Articles List {% endblock %}
{% block content %}
<div>
    <h1 style="margin-left: 395px;font-weight: bold;">Articles List</h1>
    <div>
        {% for article in articles %}
        <div>
            <h1>
                <a href="{% url 'articles:detail' article.slug %}">{{article.title}}</a>
            </h1>
            <p>{{article.snippet}}</p>
            <p>{{article.date}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}